@import "microthemer";

.ei-row:after,
.ei-row:before {
    display: table;
    content: " ";
    clear: both;
}
.ei-column {
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .ei-col-10 {
        width: 10%;
        padding-right: 15px;
    }
    .ei-col-40 {
        width: 40%;
    }
    .ei-col-50 {
        width: 50%;
        padding-left: 20px;
    }
}
.event_date p {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.event_date p.month {
    margin-bottom: 5px;
}
.event_date hr {
    border-top: 5px solid #0ecad4;
    width: 50%;
    margin: 5px 0 !important;
}
.event-item-img {
    min-height: 325px;
    background-position: center;
    background-size: cover;
}
.event-item-desc .event-title {
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: -5px;
    font-weight: bold;
    text-transform: uppercase;
}
.event-item-desc p {
    margin: 0;
}
.event-item-desc .event-date {
    color: #0ecad4;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}
.event-item-desc hr {
    border-top: 1px solid #000;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.event-item-desc .button {
    background-color: #0ecad4;
    color: #ffffff;
    border-radius: 0 !important;
}
.event-item-desc .button:hover {
    background-color: #ff6c29;
    color: #ffffff;
}
.event-items .slick-arrow {
    font-size: 0;
    line-height: 0;
    z-index: 10;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
}
.event-items .slick-prev {
    left: -45px;
}
.event-items .slick-next {
    right: -45px;
}
.event-items .slick-arrow:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 36px;
    line-height: 1;
    opacity: 0.75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.event-items .slick-prev:before {
    content: "\f053";
}
.event-items .slick-next:before {
    content: "\f054";
}
@media only screen and (max-width: 1200px) {
    .event-items {
        padding: 0 40px;
    }
    .event-items .slick-prev {
        left: 0;
    }
    .event-items .slick-next {
        right: 0;
    }
    .slider_view_event {
        width: 100% !important;
    }
    .slider_view_events {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 15px !important;
    }
}
@media only screen and (max-width: 767px) {
    .event-item-img {
        min-height: 300px;
        margin-bottom: 30px;
    }
}
.event-items {
    visibility: hidden;
}
.event-items.slick-initialized {
    visibility: visible;
}
ul.source_icon {
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
    display: table;
    text-align: center;
}
ul.source_icon li {
    width: 30%;
    text-align: center;
    margin-right: 5%;
    display: inline-block;
}
ul.source_icon li:last-child {
    margin-right: 0;
}
.no_online_links {
    text-align: center;
}
.elementor-text-editor {
    strong {
        font-family: gentonabold, sans-serif;
        font-weight: bold;
    }
}
.slider_view_events {
    margin-left: 12px;
    border: 2px solid #818181;
    background: transparent !important;
    color: #818181 !important;
    width: 49%;
    padding: 10px 22px !important;
}
.slider_view_events:hover {
    background: #ff6c29 !important;
    border: transparent;
    color: #fff !important;
    padding: 12px 24px !important;
}
.slider_view_event {
    width: 48%;
    outline: none;
    float: left;
}
.slider_view_event:focus,
.slider_view_events:focus,
.event-item-slide .ei-row:focus,
.event-item-slide.slick-slide:focus {
    outline: none;
    box-shadow: none;
}

.grecaptcha-badge {
    visibility: hidden;
}

[data-elementor-type="header"] {
    z-index: 2;
}

[data-elementor-type="footer"] {
    position: relative;
    z-index: 1;
}

body.rtl,
body.elementor-page {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
}

body.rtl .elementor-location-footer .elementor-sticky a[href="#"] {
    margin-right: 38px;
}

/* Modified by Juliana Gonzalez - Changed min width to 1025 instead of 1024*/
@media screen and (min-width: 1025px) {
    $wpml-menu-row-height: 46px;
    $wpml-menu-row-count: 10;
    $wpml-menu-width: 830px;
    $wpml-menu-columns: 3;

    .wpml-ls-item ul.sub-menu {
        position: fixed !important;
        margin: auto !important;
        left: 0 !important;
        right: 0 !important;
        max-width: 830px !important;
        width: $wpml-menu-width;
        height: $wpml-menu-row-height * $wpml-menu-row-count;
        text-align: left;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        &[aria-hidden="false"][style] {
            display: flex !important;
        }
    }

    .wpml-ls-item ul.sub-menu li {
        display: block;
        flex: 0 1 auto;
        text-align: left;
        height: $wpml-menu-row-height;
        width: $wpml-menu-width / $wpml-menu-columns;
    }

    .wpml-ls-item ul.sub-menu li.menu-item a {
        display: block !important;
    }
}
